In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
class Student:
    def __init__ (self,name,korean,math,english,science):
        self.name=name
        self.korean=korean
        self.math=math
        self.english=english
        self.science=science
        
    def get_sum(self):
        return self.korean+self.math+self.english+self.science
    
    def get_average(self):
        return self.get_sum()/4
    
    def to_string(self):
        return "{}\t{}\t{}".format(self.name, self.get_sum(), self.get_average())

In [4]:
students=[
     Student("남성휘",100,100,100,100),
     Student("정겨운",98,98,98,98),
     Student("엄지섭",100,100,98,100),
     Student("김은효",100,98,98,100)
]

In [5]:
students[0]

In [6]:
print("이름","총점","평균",sep="\t")
for student in students :
    print(student.to_string())

이름	총점	평균
남성휘	400	100.0
정겨운	392	98.0
엄지섭	398	99.5
김은효	396	99.0

In [9]:
for student in students :
    print(student.name,
          student.korean,
          student.math,
          student.english,
          student.science,
         )

남성휘 100 100 100 100
정겨운 98 98 98 98
엄지섭 100 100 98 100
김은효 100 98 98 100

In [10]:
students = [
    {"name":"윤인성", "korean":87,"math":98,"english":88, "science": 95},
    {"name":"연하진", "korean":92,"math":98,"english":96, "science": 98},
    {"name":"구지연", "korean":76,"math":96,"english":94, "science": 90},
    {"name":"나선주", "korean":98,"math":92,"english":96, "science": 92},
    {"name":"윤아린", "korean":95,"math":98,"english":98, "science": 98},
    {"name":"윤명월", "korean":64,"math":88,"english":92, "science": 92},
    ]